{% extends 'base_topics.html' %}

{% block articles %}
<article class="w-[390px]" data-topicsId="{{ data_topics.id }}">
    <div class="w-full pt-1">
        <h1 class="font-medium mt-1">Juniyasyos, <span class="font-normal">1 Jan 2024</span></h1>
    </div>
    <img src="{{ url_for('static', filename='img/logarithm.jpg') }}" alt="Logarithm" width="390" class="rounded-md">
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Logaritma: Apa dan Kenapa?</h2>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Bayangkan logaritma seperti detektif matematika yang membantu kita menemukan
            "rahasia" eksponen. Misalnya, kalau eksponen bilang, "Aku bisa bikin angka ini
            dengan dipangkatkan sama dia!" Nah, logaritma adalah cara kita mengetahui
            eksponennya.
        </p>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Jadi, jika kita punya \(b^x = a\), logaritma (\(\log_b a\)) memberi tahu kita nilai
            \(x\), atau dengan kata lain, eksponen yang diperlukan untuk menghasilkan \(a\)
            dengan memangkatkan \(b\).
        </p>

        <h3 class="text-xl font-bold text-gray-600 mb-4">Elemen Penting</h3>

        <p class="mb-2 text-gray-800">
            <strong class="text-blue-500">Basis (\(b\))</strong><br>
            Ini seperti bahan dasar logaritma, bisa berupa angka seperti \(e\), \(10\), atau
            \(2\).
        </p>

        <p class="mb-2 text-gray-800">
            <strong class="text-blue-500">Argumen (\(a\))</strong><br>
            Angka yang ingin kita "ungkap" logaritmanya, misalnya \(b^x = 64\), maka \(b\)
            adalah basis, \(x\) adalah logaritma, dan \(64\) adalah argumen.
        </p>

        <p class="mb-6 text-gray-800">
            <strong class="text-blue-500">Hasil Logaritma (\(x\))</strong><br>
            Eksponen yang, jika digunakan dengan basis \(b\), akan menghasilkan argumen \(a\).
            Misalnya, \(\log_2 64 = x\), artinya \(2^x\) sama dengan \(64\).
        </p>

        <p class="mb-6 text-gray-800 leading-relaxed">
            <strong>Contoh:</strong><br>Jika \(\log_3 81 = x\), itu berarti \(3^x\) sama dengan \(81\). Nah, \(3^4\)
            memang benar-benar \(81\), jadi \(x = 4\).
        </p>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Jadi, logaritma ini bukan hanya konsep matematika, tapi juga teman setia dalam
            petualangan matematika kamu! Semoga lebih jelas sekarang!
        </p>
    </div>

    <div class="max-w-md p-8 bg-white rounded-md shadow-md mt-3">
        <h2 class="text-2xl font-semibold mb-4">Simulasi Logaritma</h2>
        <div class="flex justify-center items-center">
            <div class="mb-4">
                <input type="number" id="base" class="mt-1 w-16 h-8 border rounded-md text-center " placeholder="basis">
            </div>
            <p class="font-bold text-5xl">log</p>
            <div class="mb-4 mt-4">
                <input type="number" id="number"
                    class="mt-4 p-2 w-24 border rounded-md text-2xl text-center font-medium" placeholder="args">
            </div>
        </div>
        <p class="text-center w-auto font-bold text-xl mt-5">hasil</p>
        <p id="result" class="text-xl font-semibold ml-2 mt-2 bg-gray-300 p-2 rounded-md text-center">0</p>
    </div>

    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg mt-8">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Post-Test</h2>

        <div class="mb-4" id="question1">
            <p class="text-gray-800"><strong>1. </strong>Apa definisi umum dari logaritma?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question1" value="a" id="q1-a">
                <span class="text-gray-800">A. \(b^x = a\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="b" id="q1-b">
                <span class="text-gray-800">B. \(a^x = b\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="c" id="q1-c">
                <span class="text-gray-800">C. \(\log_b a = x\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="d" id="q1-d">
                <span class="text-gray-800">D. \(\log_a b = x\)</span>
            </label>

            <p id="feedback-question1" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question2">
            <p class="text-gray-800"><strong>2. </strong>Jika \(2^x = 8\), maka nilai dari
                \(\log_2
                8\) adalah?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question2" value="a" id="q2-a">
                <span class="text-gray-800">A. 2</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="b" id="q2-b">
                <span class="text-gray-800">B. 3</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="c" id="q2-c">
                <span class="text-gray-800">C. 4</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="d" id="q2-d">
                <span class="text-gray-800">D. 5</span>
            </label>

            <p id="feedback-question2" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question3">
            <p class="text-gray-800"><strong>3. </strong>Jika \(\log_a b = x\), maka \(a^x\)
                sama
                dengan?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question3" value="a" id="q3-a">
                <span class="text-gray-800">A. \(a + b\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="b" id="q3-b">
                <span class="text-gray-800">B. \(a \cdot b\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="c" id="q3-c">
                <span class="text-gray-800">C. \(\frac{1}{b}\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="d" id="q3-d">
                <span class="text-gray-800">D. \(\frac{1}{a}\)</span>
            </label>

            <p id="feedback-question3" class="text-gray-800"></p>
        </div>

        <button onclick="checkAnswers()" class="bg-blue-500 text-white py-2 px-4 rounded mt-4 hover:bg-blue-700">Cek
            Jawaban</button>
    </div>
    {% endblock %}

    {% block controllers %}
    <script>
        const correctAnswers = {
            question1: 'c',
            question2: 'b',
            question3: 'c'
        };

        const baseInput = document.getElementById('base');
        const numberInput = document.getElementById('number');
        const resultElement = document.getElementById('result');

        // Tambahkan event listener untuk input
        baseInput.addEventListener('input', calculateLog);
        numberInput.addEventListener('input', calculateLog);

        // Fungsi untuk menghitung logaritma
        function calculateLog() {
            // Ambil nilai dari input
            const base = parseFloat(baseInput.value);
            const number = parseFloat(numberInput.value);

            // Periksa apakah kedua nilai adalah angka yang valid
            if (!isNaN(base) && !isNaN(number)) {
                // Hitung logaritma
                let result = Math.log(number) / Math.log(base);

                // Tampilkan hasil
                if (Number.isInteger(result)) {
                    // Jika hasilnya integer, tampilkan tanpa desimal
                    resultElement.textContent = `${result}`;
                } else {
                    // Jika hasilnya pecahan, tampilkan dengan maksimal 3 digit di belakang koma
                    resultElement.textContent = `${result.toFixed(3)}`;
                }
            }
        }
    </script>
    {% endblock %}