{% extends 'base_topics.html' %}

{% block articles %}
<article class="w-[390px]" data-topicsId="{{ data_topics.id }}">
    <div class="w-full pt-1">
        <h1 class="font-medium mt-1">Juniyasyos, <span class="font-normal">1 Jan 2024</span></h1>
    </div>
    <img src="{{ url_for('static', filename='img/exponential-growth.jpg') }}" alt="Exponential Growth" width="390"
        class="rounded-md">
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Eksponen Pertumbuhan</h2>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Eksponen pertumbuhan adalah suatu konsep matematika yang digunakan untuk menggambarkan pertumbuhan yang
            cepat
            atau peningkatan eksponensial dari suatu nilai terhadap waktu atau variabel lainnya. Konsep ini dapat
            diterapkan
            dalam berbagai konteks, seperti ekonomi, biologi, sains, dan keuangan.
        </p>

        <p class="mb-6 text-gray-800">
            <strong>Definisi:</strong> Eksponen pertumbuhan dapat dijelaskan menggunakan fungsi eksponen umum
            \(f(t) = a \cdot (1 + r)^t\), di mana:
        <ul class="list-disc ml-6">
            <li>\(f(t)\) adalah nilai akhir pada waktu \(t\)</li>
            <li>\(a\) adalah nilai awal atau nilai saat \(t = 0\)</li>
            <li>\(r\) adalah tingkat pertumbuhan (rate of growth)</li>
            <li>\(t\) adalah waktu atau jumlah periode pertumbuhan</li>
        </ul>
        </p>

        <p class="mb-6 text-gray-800">
            <strong>Rumus Dasar Pertumbuhan Eksponensial:</strong> Fungsi eksponen pertumbuhan dapat dijelaskan dalam
            rumus
            dasar:
            \[ f(t) = a \cdot (1 + r)^t \]
        </p>

        <p class="mb-6 text-gray-800">
            <strong>Sifat-Sifat Pertumbuhan Eksponensial:</strong>
        <ul class="list-disc ml-6">
            <li><em>Pertumbuhan Cepat:</em> Jika \(r > 0\), maka pertumbuhan eksponensial akan meningkat secara cepat
                seiring berjalannya waktu.</li>
            <li><em>Tingkat Pertumbuhan:</em> Tingkat pertumbuhan \(r\) menentukan seberapa cepat pertumbuhan terjadi.
                Semakin besar \(r\), semakin cepat pertumbuhan eksponensial.</li>
            <li><em>Nilai Awal:</em> Nilai awal (\(a\)) merupakan nilai pertama pada waktu \(t = 0\), yang menjadi dasar
                pertumbuhan.</li>
            <li><em>Waktu (\(t\)):</em> Waktu (\(t\)) menunjukkan jumlah periode atau waktu yang telah berlalu sejak
                awal
                pertumbuhan.</li>
        </ul>
        </p>

        <p class="mb-6 text-gray-800">
            <strong>Penerapan Pertumbuhan Eksponensial:</strong>
        <ul class="list-disc ml-6">
            <li><em>Keuangan:</em> Model pertumbuhan eksponensial digunakan untuk memprediksi nilai investasi di masa
                depan.
            </li>
            <li><em>Ilmu Pengetahuan:</em> Dalam ilmu pengetahuan, pertumbuhan populasi dan penyebaran penyakit sering
                dijelaskan menggunakan eksponen pertumbuhan.</li>
            <li><em>Ekonomi:</em> Pertumbuhan ekonomi suatu negara atau perusahaan dapat dimodelkan dengan pertumbuhan
                eksponensial.</li>
        </ul>
        </p>

        <p class="text-gray-800">
            Eksponen pertumbuhan adalah konsep matematika yang kuat untuk memodelkan dan memahami fenomena pertumbuhan
            yang
            cepat dalam berbagai bidang. Dengan menggunakan fungsi eksponen, kita dapat menggambarkan bagaimana suatu
            nilai
            berkembang seiring berjalannya waktu, memberikan landasan untuk analisis dan prediksi dalam berbagai
            konteks.
            Dengan pemahaman tentang sifat-sifat pertumbuhan eksponensial, kita dapat mengaplikasikan konsep ini untuk
            memecahkan masalah dan mengambil keputusan di berbagai bidang kehidupan.
        </p>
    </div>
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg mt-8">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Post-Test</h2>

        <div class="mb-4" id="question1">
            <p class="text-gray-800"><strong>1. </strong>Apa rumus umum dari fungsi eksponen pertumbuhan?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question1" value="a" id="q1-a">
                <span class="text-gray-800">A. \(f(t) = x^a\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="b" id="q1-b">
                <span class="text-gray-800">B. \(f(t) = a^x\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="c" id="q1-c">
                <span class="text-gray-800">C. \(f(t) = a \cdot (1 + r)^t\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="d" id="q1-d">
                <span class="text-gray-800">D. \(f(t) = a \cdot t\)</span>
            </label>

            <p id="feedback-question1" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question2">
            <p class="text-gray-800"><strong>2. </strong>Jika \(f(t) = 2 \cdot (1.05)^t\), apa nilai \(f(3)\)?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question2" value="a" id="q2-a">
                <span class="text-gray-800">A. 2.225</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="b" id="q2-b">
                <span class="text-gray-800">B. 2.115</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="c" id="q2-c">
                <span class="text-gray-800">C. 2.16</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="d" id="q2-d">
                <span class="text-gray-800">D. 2.10</span>
            </label>

            <p id="feedback-question2" class="text-gray-800"></p>
        </div>

        <div id="question3">
            <p class="text-gray-800"><strong>3. </strong>Apa yang menentukan tingkat pertumbuhan (\(r\)) dalam fungsi
                eksponen pertumbuhan?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question3" value="a" id="q3-a">
                <span class="text-gray-800">A. Waktu (\(t\))</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="b" id="q3-b">
                <span class="text-gray-800">B. Nilai Awal (\(a\))</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="c" id="q3-c">
                <span class="text-gray-800">C. Tingkat Pertumbuhan (\(r\))</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="d" id="q3-d">
                <span class="text-gray-800">D. Jumlah Periode (\(t\))</span>
            </label>

            <p id="feedback-question3" class="text-gray-800"></p>
        </div>

        <button onclick="checkAnswers()" class="bg-blue-500 text-white py-2 px-4 rounded mt-4 hover:bg-blue-700">Cek
            Jawaban</button>
    </div>
    {% endblock %}

    {% block controllers %}
    <script>
        const correctAnswers = {
            question1: 'c',
            question2: 'a',
            question3: 'c'
        };
    </script>
    {% endblock %}