{% extends 'base_topics.html' %}

{% block articles %}
<article class="w-[390px]" data-topicsId="{{ data_topics.id }}">
    <div class="w-full pt-1">
        <h1 class="font-medium mt-1">Juniyasyos, <span class="font-normal">1 Jan 2024</span></h1>
    </div>
    <img src="{{ url_for('static', filename='img/exponential-decay.jpg') }}" alt="Exponential Decay" width="390"
        class="rounded-md">
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Eksponen Peluruhan</h2>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Eksponen peluruhan adalah konsep matematika yang membantu kita memahami bagaimana suatu
            nilai dapat menurun seiring berjalannya waktu atau menuju keadaan yang lebih stabil. Dengan
            kata lain, eksponen peluruhan digunakan untuk menggambarkan proses penurunan nilai dari satu
            kondisi ke kondisi yang lebih rendah. Konsep ini tidak hanya relevan di dunia matematika,
            tetapi juga memiliki aplikasi luas dalam berbagai bidang seperti fisika, kimia, biologi, dan
            keuangan.
        </p>


        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-700 mb-4">Definisi</h3>
            <p class="text-gray-800">
                Eksponen peluruhan bisa dijelaskan dengan rumus eksponen keren, yaitu
                <span class="font-bold text-green-500">\(N(t) = N_0 \cdot e^{-kt}\)</span>. <br>Di sini:
            </p>
            <ul class="list-disc ml-6 text-gray-800">
                <li><span class="font-bold text-green-500">\(N(t)\)</span> adalah nilai pada waktu \(t\)
                </li>
                <li><span class="font-bold text-green-500">\(N_0\)</span> adalah nilai awal atau nilai
                    pada \(t = 0\)</li>
                <li><span class="font-bold text-green-500">\(e\)</span> adalah konstanta Euler (sekitar
                    2.71828)</li>
                <li><span class="font-bold text-green-500">\(k\)</span> adalah tingkat peluruhan</li>
                <li><span class="font-bold text-green-500">\(t\)</span> adalah waktu</li>
            </ul>
        </div>


        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-700 mb-4">Sifat-Sifat Peluruhan Eksponensial</h3>

            <div class="pl-4 text-gray-800">
                <span class="font-bold text-blue-500">1. Peluruhan Cepat</span>
            </div>
            <p class="pl-8 mb-3">Jika \(k > 0\), peluruhan eksponensial berlangsung dengan cepat.
            </p>

            <div class="pl-4 text-gray-800">
                <span class="font-bold text-blue-500">2. Tingkat Peluruhan</span>
            </div>
            <p class="pl-8 mb-3 text-gray-800">Tingkat peluruhan (\(k\)) menentukan seberapa cepat nilai
                menurun.</p>

            <div class="pl-4 text-gray-800">
                <span class="font-bold text-blue-500">3. Nilai Awal</span>
            </div>
            <p class="pl-8 mb-3 text-gray-800">Nilai awal (\(N_0\)) merupakan nilai pertama pada waktu
                \(t =
                0\).</p>

            <div class="pl-4 text-gray-800">
                <span class="font-bold text-blue-500">4. Waktu (\(t\))</span>
            </div>
            <p class="pl-8 mb-3 text-gray-800">Waktu (\(t\)) menunjukkan jumlah periode atau waktu yang
                telah
                berlalu sejak awal peluruhan.</p>
        </div>




        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-700 mb-4">Sifat-Sifat Peluruhan Eksponensial</h3>
            <div class="pl-4 text-gray-800">
                <p class="font-bold text-blue-500">1. Peluruhan Cepat</p>
                <p class="ml-4">Jika \(k > 0\), peluruhan eksponensial berlangsung dengan cepat.</p>
            </div>
            <div class="pl-4 text-gray-800">
                <p class="font-bold text-blue-500">2. Tingkat Peluruhan</p>
                <p class="ml-4">Tingkat peluruhan (\(k\)) menentukan seberapa cepat nilai menurun.</p>
            </div>
            <div class="pl-4 text-gray-800">
                <p class="font-bold text-blue-500">3. Nilai Awal</p>
                <p class="ml-4">Nilai awal (\(N_0\)) merupakan nilai pertama pada waktu \(t = 0\).</p>
            </div>
            <div class="pl-4 text-gray-800">
                <p class="font-bold text-blue-500">4. Waktu (\(t\))</p>
                <p class="ml-4">Waktu (\(t\)) menunjukkan jumlah periode atau waktu yang telah berlalu
                    sejak awal peluruhan.</p>
            </div>
        </div>

        <p class="text-gray-800">
            Eksponen peluruhan adalah alat matematika yang digunakan untuk memodelkan penurunan nilai
            seiring berjalannya waktu. Fungsi eksponen peluruhan membantu menganalisis fenomena di
            berbagai bidang dan memprediksi perubahan nilai dalam sistem. Pemahaman sifat-sifat
            peluruhan eksponensial memberikan dasar yang kuat untuk aplikasi konsep ini dalam konteks
            ilmiah dan praktis.
        </p>

    </div>
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg mt-8">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Post-Test</h2>

        <div class="mb-4" id="question1">
            <p class="text-gray-800"><strong>1. </strong>Apa rumus umum dari fungsi eksponen peluruhan?
            </p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question1" value="a" id="q1-a">
                <span class="text-gray-800">A. \(f(t) = x^a\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="b" id="q1-b">
                <span class="text-gray-800">B. \(f(t) = a^x\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="c" id="q1-c">
                <span class="text-gray-800">C. \(f(t) = a \cdot (1 + r)^t\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="d" id="q1-d">
                <span class="text-gray-800">D. \(f(t) = a \cdot t\)</span>
            </label>

            <p id="feedback-question1" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question2">
            <p class="text-gray-800"><strong>2. </strong>Bagaimana tingkat peluruhan (\(k\)) memengaruhi
                peluruhan eksponensial?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question2" value="a" id="q2-a">
                <span class="text-gray-800">A. Semakin besar \(k\), semakin lambat peluruhan.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="b" id="q2-b">
                <span class="text-gray-800">B. Semakin besar \(k\), semakin cepat peluruhan.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="c" id="q2-c">
                <span class="text-gray-800">C. \(k\) tidak memengaruhi peluruhan.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="d" id="q2-d">
                <span class="text-gray-800">D. Semakin kecil \(k\), semakin kecil peluruhan.</span>
            </label>

            <p id="feedback-question2" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question3">
            <p class="text-gray-800"><strong>3. </strong>Apa aplikasi nyata dari fungsi eksponen
                peluruhan?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question3" value="a" id="q3-a">
                <span class="text-gray-800">A. Menghitung luas segitiga.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="b" id="q3-b">
                <span class="text-gray-800">B. Memprediksi pertumbuhan populasi.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="c" id="q3-c">
                <span class="text-gray-800">C. Menentukan panjang sisi kubus.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="d" id="q3-d">
                <span class="text-gray-800">D. Menghitung kecepatan mobil.</span>
            </label>

            <p id="feedback-question3" class="text-gray-800"></p>
        </div>


        <button onclick="checkAnswers()" class="bg-blue-500 text-white py-2 px-4 rounded mt-4 hover:bg-blue-700">Cek
            Jawaban</button>
    </div>

    {% endblock %}

    {% block controllers %}
    <script>
        const correctAnswers = {
            question1: 'b',
            question2: 'b',
            question3: 'b'
        };
    </script>
    {% endblock %}