{% extends 'base_topics.html' %}

{% block articles %}
<article class="w-[390px]" data-topicsId="{{ data_topics.id }}">
    <div class="w-full pt-1">
        <h1 class="font-medium mt-1">Juniyasyos, <span class="font-normal">1 Jan 2024</span></h1>
    </div>
    <img src="{{ url_for('static', filename='img/exponential-decay.jpg') }}" alt="Exponential Decay" width="390"
        class="rounded-md">
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Eksponen Peluruhan</h2>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Eksponen peluruhan adalah konsep matematika yang digunakan untuk menggambarkan penurunan nilai dari waktu ke
            waktu
            atau dari suatu keadaan menuju kondisi yang lebih stabil atau lebih rendah. Konsep ini memiliki aplikasi
            luas
            dalam berbagai bidang, termasuk fisika, kimia, biologi, dan keuangan.
        </p>

        <div class="mb-6">
            <h3 class="text-2xl font-bold text-indigo-700 mb-4">Definisi</h3>
            <p class="text-gray-800">
                Eksponen peluruhan dapat dijelaskan menggunakan fungsi eksponen umum
                <span class="font-bold text-red-500">\(N(t) = N_0 \cdot e^{-kt}\)</span>, di mana:
            </p>
            <ul class="list-disc ml-6 text-gray-800">
                <li><span class="font-bold text-red-500">\(N(t)\)</span> adalah nilai pada waktu \(t\)</li>
                <li><span class="font-bold text-red-500">\(N_0\)</span> adalah nilai awal atau nilai pada \(t = 0\)</li>
                <li><span class="font-bold text-red-500">\(e\)</span> adalah konstanta Euler (sekitar 2.71828)</li>
                <li><span class="font-bold text-red-500">\(k\)</span> adalah tingkat peluruhan</li>
                <li><span class="font-bold text-red-500">\(t\)</span> adalah waktu</li>
            </ul>
        </div>

        <div class="mb-6">
            <h3 class="text-2xl font-bold text-indigo-700 mb-4">Rumus Dasar Peluruhan Eksponensial</h3>
            <p class="text-gray-800">
                Fungsi eksponen peluruhan dapat dijelaskan dalam rumus dasar:
                <span class="font-bold text-red-500">\(N(t) = N_0 \cdot e^{-kt}\)</span>
            </p>
        </div>

        <div class="mb-6">
            <h3 class="text-2xl font-bold text-indigo-700 mb-4">Sifat-Sifat Peluruhan Eksponensial</h3>
            <ul class="list-disc ml-6 text-gray-800">
                <li><em>Peluruhan Cepat:</em> Jika \(k > 0\), maka peluruhan eksponensial akan berlangsung dengan cepat.
                </li>
                <li><em>Tingkat Peluruhan:</em> Tingkat peluruhan (\(k\)) menentukan seberapa cepat nilai menurun.</li>
                <li><em>Nilai Awal:</em> Nilai awal (\(N_0\)) merupakan nilai pertama pada waktu \(t = 0\).</li>
                <li><em>Waktu (\(t\)):</em> Waktu (\(t\)) menunjukkan jumlah periode atau waktu yang telah berlalu sejak
                    awal peluruhan.</li>
            </ul>
        </div>

        <div class="mb-6">
            <h3 class="text-2xl font-bold text-indigo-700 mb-4">Contoh Peluruhan Eksponensial</h3>
            <p class="text-gray-800">
                1. <em>Radioaktifitas:</em> Peluruhan radioaktif dapat dimodelkan dengan fungsi eksponen peluruhan.<br>
                2. <em>Biologi:</em> Penurunan populasi spesies atau konsentrasi zat dalam sistem biologis.<br>
                3. <em>Keuangan:</em> Penurunan nilai investasi atau aset dalam jangka waktu tertentu.
            </p>
        </div>

        <div class="mb-6">
            <h3 class="text-2xl font-bold text-indigo-700 mb-4">Penerapan Peluruhan Eksponensial</h3>
            <p class="text-gray-800">
                1. <em>Kesehatan:</em> Model penyebaran penyakit atau penurunan kadar obat dalam tubuh.<br>
                2. <em>Fisika Nuklir:</em> Peluruhan radioaktif dalam fisika nuklir.<br>
                3. <em>Keuangan:</em> Analisis penurunan nilai investasi atau aset dalam keuangan.
            </p>
        </div>

        <p class="text-gray-800">
            Eksponen peluruhan adalah alat matematika yang berguna untuk menggambarkan penurunan nilai seiring
            berjalannya waktu.
            Dengan menggunakan fungsi eksponen peluruhan, kita dapat menganalisis dan memodelkan berbagai fenomena di
            berbagai
            bidang, membantu dalam pengambilan keputusan dan prediksi perubahan nilai dalam suatu sistem. Pemahaman
            tentang
            sifat-sifat peluruhan eksponensial memberikan dasar yang kuat untuk aplikasi konsep ini dalam berbagai
            konteks
            ilmiah dan praktis.
        </p>
    </div>
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg mt-8">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Post-Test</h2>

        <div class="mb-4" id="question1">
            <p class="text-gray-800"><strong>1. </strong>Apa rumus umum dari fungsi eksponen pertumbuhan?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question1" value="a" id="q1-a">
                <span class="text-gray-800">A. \(f(t) = x^a\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="b" id="q1-b">
                <span class="text-gray-800">B. \(f(t) = a^x\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="c" id="q1-c">
                <span class="text-gray-800">C. \(f(t) = a \cdot (1 + r)^t\)</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="d" id="q1-d">
                <span class="text-gray-800">D. \(f(t) = a \cdot t\)</span>
            </label>

            <p id="feedback-question1" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question2">
            <p class="text-gray-800"><strong>2. </strong>Jika \(f(t) = 2 \cdot (1.05)^t\), apa nilai \(f(3)\)?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question2" value="a" id="q2-a">
                <span class="text-gray-800">A. 2.225</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="b" id="q2-b">
                <span class="text-gray-800">B. 2.115</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="c" id="q2-c">
                <span class="text-gray-800">C. 2.16</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="d" id="q2-d">
                <span class="text-gray-800">D. 2.10</span>
            </label>

            <p id="feedback-question2" class="text-gray-800"></p>
        </div>

        <div id="question3">
            <p class="text-gray-800"><strong>3. </strong>Apa yang menentukan tingkat pertumbuhan (\(r\)) dalam fungsi
                eksponen pertumbuhan?</p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question3" value="a" id="q3-a">
                <span class="text-gray-800">A. Waktu (\(t\))</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="b" id="q3-b">
                <span class="text-gray-800">B. Nilai Awal (\(a\))</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="c" id="q3-c">
                <span class="text-gray-800">C. Tingkat Pertumbuhan (\(r\))</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="d" id="q3-d">
                <span class="text-gray-800">D. Jumlah Periode (\(t\))</span>
            </label>

            <p id="feedback-question3" class="text-gray-800"></p>
        </div>

        <button onclick="checkAnswers()" class="bg-blue-500 text-white py-2 px-4 rounded mt-4 hover:bg-blue-700">Cek
            Jawaban</button>
    </div>
    {% endblock %}

    {% block controllers %}
    <script>
        const correctAnswers = {
            question1: 'c',
            question2: 'a',
            question3: 'c'
        };
    </script>
    {% endblock %}