{% extends 'base_topics.html' %}

{% block articles %}
<article class="w-[390px]" data-topicsId="{{ data_topics.id }}">
    <div class="w-full pt-1">
        <h1 class="font-medium mt-1">Juniyasyos, <span class="font-normal">1 Jan 2024</span></h1>
    </div>
    <img src="{{ url_for('static', filename='img/rationalizing-radicals.jpg') }}" alt="Rationalizing Radicals"
        width="390" class="rounded-md">
    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Merasionalkan Bentuk Akar</h2>

        <p class="mb-6 text-gray-800 leading-relaxed">
            Dalam matematika, merasionalkan bentuk akar adalah trik untuk membuat ekspresi matematika
            lebih simpel dan
            gampang dioperasikan. Nih, kita bahas lebih lanjut!
        </p>

        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-600 mb-4">Definisi</h3>
            <div>
                <h1 class=" font-bold mb-2">1. Akar Kuadrat</h1>
                <div>
                    <p class="text-gray-800 ml-4">
                        Akar kuadrat dari suatu bilangan \(a\) adalah bilangan positif yang,
                        jika dipangkatkan dua, menghasilkan \(a\). Notasi: \(\sqrt{a}\). <br>
                        Contoh: \(\sqrt{4} = 2\), \(\sqrt{9} = 3\).
                    </p>
                </div>
                <div class="my-4">
                    <h1 class=" font-bold mb-2">2. Pecahan dengan Akar dalam Penyebut</h1>
                    <p class="text-gray-800 ml-4 mt-2">
                        Pecahan seperti \(\frac{1}{\sqrt{a}}\) atau
                        \(\frac{1}{\sqrt{n}a}\) disebut pecahan dengan akar dalam penyebut.
                    </p>
                </div>
            </div>
        </div>

        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-600 mb-4">Strategi Merasionalkan Bentuk Akar</h3>
            <h1 class=" font-bold mb-2">1. Menggunakan Properti Eksponen</h1>
            <p class="text-gray-800 ml-4">Pecahan seperti
                \(\frac{1}{\sqrt{a}}\) dapat dirasionalkan denga memasukkan akar sebagai pangkat -1:
                \(\frac{1}{\sqrt{a}} = \frac{\sqrt{a}^{-1}}{1}\).
            </p>
            <h1 class=" font-bold mb-2 my-3">2. Menggunakan Konjugat</h1>
            <p class="text-gray-800 ml-4">
                Untuk ekspresi \(\frac{1}{\sqrt{a}}\), kita
                dapat merasionalkannya dengan mengalikan dan membagi dengan konjugat penyebut:
                \(\frac{1}{\sqrt{a}} \times
                \frac{\sqrt{a}}{\sqrt{a}} =
                \frac{\sqrt{a}}{a}\).
            </p>
        </div>


        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-600 mb-4">Contoh Penerapan</h3>
            <h1 class=" font-bold mb-2 my-3">1. Merasionalkan Akar Kuadrat</h1>
            <p class="text-gray-800 ml-4">
                Misalnya, kita bisa merasionalkan
                \(\frac{1}{\sqrt{2}}\) dengan
                mengalikan \(\frac{1}{\sqrt{2}} \times \frac{\sqrt{2}}{\sqrt{2}} = \frac{\sqrt{2}}{2}\).
            </p>
            <h1 class=" font-bold mb-2 my-3">2. Merasionalkan Akar Pangkat \(n\)</h1>
            <p class="text-gray-800 ml-4">
                Contohnya, kita dapat
                merasionalkan \(\frac{1}{\sqrt[3]{a}}\)
                dengan cara
                \(\frac{1}{\sqrt[3]{a}} \times \frac{\sqrt[3]{a^2}}{\sqrt[3]{a^2}} =
                \frac{\sqrt[3]{a^2}}{a}\).
            </p>
        </div>

        <div class="mb-6">
            <h3 class="text-xl font-bold text-gray-600 mb-4">Kesimpulan</h3>
            <p class="text-gray-800">
                Pemahaman tentang cara merasionalkan bentuk akar sangat penting untuk menyederhanakan
                ekspresi matematika yang
                melibatkan
                akar dalam penyebut. Strategi seperti properti eksponen dan penggunaan konjugat dapat
                sangat membantu dalam
                operasi matematika
                yang melibatkan bentuk akar.
            </p>
        </div>

    </div>

    <div class="container mx-auto p-8 bg-gray-100 rounded-lg shadow-lg mt-8">
        <h2 class="text-3xl font-bold text-indigo-700 mb-6">Post-Test</h2>

        <div class="mb-4" id="question1">
            <p class="text-gray-800"><strong>1. Apa tujuan merasionalkan bentuk akar?</strong></p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question1" value="a" id="q1-a">
                <span class="text-gray-800">A. Menyederhanakan ekspresi.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="b" id="q1-b">
                <span class="text-gray-800">B. Meningkatkan nilai.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="c" id="q1-c">
                <span class="text-gray-800">C. Mengubah nilai akar.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question1" value="d" id="q1-d">
                <span class="text-gray-800">D. Memperumit perhitungan.</span>
            </label>

            <p id="feedback-question1" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question2">
            <p class="text-gray-800"><strong>2. Cara merasionalkan \(\frac{1}{\sqrt{3}}\)?</strong></p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question2" value="a" id="q2-a">
                <span class="text-gray-800">A. Mengalikan \(\sqrt{3}\).</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="b" id="q2-b">
                <span class="text-gray-800">B. Membagi \(\sqrt{3}\).</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="c" id="q2-c">
                <span class="text-gray-800">C. Mengalikan dan membagi \(\sqrt{3}\).</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question2" value="d" id="q2-d">
                <span class="text-gray-800">D. Tidak bisa dirasionalkan.</span>
            </label>

            <p id="feedback-question2" class="text-gray-800"></p>
        </div>

        <div class="mb-4" id="question3">
            <p class="text-gray-800"><strong>3. Manfaat menggunakan konjugat dalam merasionalkan bentuk
                    akar?</strong></p>

            <label class="block text-gray-700 mt-2">
                <input type="radio" class="mr-2" name="question3" value="a" id="q3-a">
                <span class="text-gray-800">A. Menambah kompleksitas.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="b" id="q3-b">
                <span class="text-gray-800">B. Memperumit perhitungan.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="c" id="q3-c">
                <span class="text-gray-800">C. Mempermudah operasi dan menyederhanakan ekspresi.</span>
            </label>

            <label class="block text-gray-700">
                <input type="radio" class="mr-2" name="question3" value="d" id="q3-d">
                <span class="text-gray-800">D. Tidak ada manfaat.</span>
            </label>

            <p id="feedback-question3" class="text-gray-800"></p>
        </div>

        <button onclick="checkAnswers()" class="bg-blue-500 text-white py-2 px-4 rounded mt-4 hover:bg-blue-700">Cek
            Jawaban</button>
    </div>


    {% endblock %}

    {% block controllers %}
    <script>
        const correctAnswers = {
            question1: 'a',
            question2: 'c',
            question3: 'c'
        };        
    </script>
    {% endblock %}