html {
  box-sizing: border-box;
  --bgColorMenu: #1d1d27;
  --duration: 0.7s;
}

body {
  margin: 0;
  display: flex;
  width: 390px;
  align-items: center;
  justify-content: center;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);
}

.container-static {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}


/* Start syle mobile bar battom */
.menu {
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 1.5em;
  padding: 0 2.85em;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgColorMenu);
  z-index: 100;
}

.menu__item {
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 3.5em;
  height: 3.5em;
  border-radius: 20%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
}

.menu__item.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
}

.menu__border {
  left: 0;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut, var(--duration));
}


.menu {
  font-size: 0.7em;
}

/* End Style mobile bar battom */

/* Start style welcome dashboard */
