{% extends 'base.html' %}

{% block stylecss %}
<link rel="stylesheet" href="../static/css/dashboard/style.css">
{% endblock %}

{% block content %}
<!-- WELCOMING TO USER --> n
<div class="bg-welcome text-center">
    <img src="../static/img/bg welcome 3.jpg" alt="background welcome" class="rounded-2xl">
    <div class="welcoming">
        <h1 class="font-bold">Holla, Xyron</h1>
        <h1 class="font-normal">Siapkah kamu mempelajari hal baru?</h1>
    </div>
</div>
<!-- END WELCOMING TO USER -->

<!-- Start Status User -->
<div class="info-user flex py-2 bg-white shadow-sm shadow-slate-600 justify-center rounded-lg">
    <div class="pl-12">
        <h1 class="font-semibold">Xyron</h1>
        <h1>Rank 32</h1>
    </div>
    <div class="px-20 mt-2 flex">
        <img src="../static/img/point.png" alt="point image" class="w-8 h-8">
        <h1 class="ml-4">39081</h1>
    </div>
</div>
<!-- End Status User -->

<!-- Start Content -->
<div class="flex-none content w-[370px] h-auto bg-white shadow-sm shadow-slate-600 rounded-lg">
    <div class="flex justify-end mb-5">
        <!-- Kelas selection -->
        <div
            class="flex w-[270px] h-[40px] bg-white shadow-sm shadow-slate-600 justify-start rounded-lg mt-[-20px] mr-2">
            <h1 id="selectedValue" class="m-2 ml-2 mr-7">Kelas 10: Semester 1</h1>
            <button
                class="w-[90px] h-[40px] bg-amber-500 shadow-sm shadow-slate-600 justify-center rounded-lg hover:bg-amber-400 cursor-pointer flex"
                type="button" data-dropdown-toggle="dropdown">
                <img src="../static/img/down arrow.png" alt="arrow down image" class="mt-1">
            </button>

            <!-- Dropdown pilih kelas -->
            <div class="hidden bg-white text-base list-none divide-y divide-gray-300 rounded shadow my-4" id="dropdown">
                <ul class="py-1" aria-labelledby="dropdown">
                    <li>
                        <a href="javascript:void(0);" onclick="handleMenuSelection('Kelas 10: Semester 1')"
                            class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Kelas 10: Semester 1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="handleMenuSelection('Kelas 10: Semester 2')"
                            class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Kelas 10: Semester 2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="handleMenuSelection('Kelas 11: Semester 1')"
                            class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Kelas 11: Semester 1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="handleMenuSelection('Kelas 11: Semester 2')"
                            class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Kelas 11: Semester 2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="handleMenuSelection('Kelas 12: Semester 1')"
                            class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Kelas 12: Semester 1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="handleMenuSelection('Kelas 12: Semester 2')"
                            class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Kelas 12: Semester 2</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- Start sub materi display -->
    <div class="flex justify-center mb-4">
        <!-- Kelas selection -->
        <div class="w-[360px] bg-white shadow-sm shadow-slate-600 justify-start rounded-lg">
            <div class="flex">
                <img src="../static/img/ogo.jpg" alt="" width="90" class="border border-slate-600 rounded-xl m-2">
                <h1 class="m-2 ml-3 mr-7">Persamaan dan Pertidaksamaan Linear Satu Variabel</h1>
            </div>
            <h1 class="m-2 ml-3 mr-7 font-extralight">Progres </h1>
            <div class="flex">
                <h1 class="ml-3 mr-7 mt-[-10px] font-semibold">10/30 sub-materi</h1>
            </div>
            <div class="flex justify-end mt-[-40px] mr-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-4 rounded">
                    Belajar
                </button>
            </div>
            <div class="flex justify-center mt-4 mb-2">
                <div class="flex w-[340px] h-5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700"
                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs text-white text-center whitespace-nowrap dark:bg-blue-500 transition duration-500"
                        style="width: 50%">50%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mb-4">
        <!-- Kelas selection -->
        <div class="w-[360px] bg-white shadow-sm shadow-slate-600 justify-start rounded-lg">
            <div class="flex">
                <img src="../static/img/ogo.jpg" alt="" width="90" class="border border-slate-600 rounded-xl m-2">
                <h1 class="m-2 ml-3 mr-7">Persamaan dan Pertidaksamaan Linear Satu Variabel</h1>
            </div>
            <h1 class="m-2 ml-3 mr-7 font-extralight">Progres </h1>
            <div class="flex">
                <h1 class="ml-3 mr-7 mt-[-10px] font-semibold">10/30 sub-materi</h1>
            </div>
            <div class="flex justify-end mt-[-40px] mr-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-4 rounded">
                    Belajar
                </button>
            </div>
            <div class="flex justify-center mt-4 mb-2">
                <div class="flex w-[340px] h-5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700"
                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs text-white text-center whitespace-nowrap dark:bg-blue-500 transition duration-500"
                        style="width: 50%">50%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mb-4">
        <!-- Kelas selection -->
        <div class="w-[360px] bg-white shadow-sm shadow-slate-600 justify-start rounded-lg">
            <div class="flex">
                <img src="../static/img/ogo.jpg" alt="" width="90" class="border border-slate-600 rounded-xl m-2">
                <h1 class="m-2 ml-3 mr-7">Persamaan dan Pertidaksamaan Linear Satu Variabel</h1>
            </div>
            <h1 class="m-2 ml-3 mr-7 font-extralight">Progres </h1>
            <div class="flex">
                <h1 class="ml-3 mr-7 mt-[-10px] font-semibold">10/30 sub-materi</h1>
            </div>
            <div class="flex justify-end mt-[-40px] mr-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-4 rounded">
                    Belajar
                </button>
            </div>
            <div class="flex justify-center mt-4 mb-2">
                <div class="flex w-[340px] h-5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700"
                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs text-white text-center whitespace-nowrap dark:bg-blue-500 transition duration-500"
                        style="width: 50%">50%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mb-4">
        <!-- Kelas selection -->
        <div class="w-[360px] bg-white shadow-sm shadow-slate-600 justify-start rounded-lg">
            <div class="flex">
                <img src="../static/img/ogo.jpg" alt="" width="90" class="border border-slate-600 rounded-xl m-2">
                <h1 class="m-2 ml-3 mr-7">Persamaan dan Pertidaksamaan Linear Satu Variabel</h1>
            </div>
            <h1 class="m-2 ml-3 mr-7 font-extralight">Progres </h1>
            <div class="flex">
                <h1 class="ml-3 mr-7 mt-[-10px] font-semibold">10/30 sub-materi</h1>
            </div>
            <div class="flex justify-end mt-[-40px] mr-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-4 rounded">
                    Belajar
                </button>
            </div>
            <div class="flex justify-center mt-4 mb-2">
                <div class="flex w-[340px] h-5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700"
                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs text-white text-center whitespace-nowrap dark:bg-blue-500 transition duration-500"
                        style="width: 50%">50%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mb-4">
        <!-- Kelas selection -->
        <div class="w-[360px] bg-white shadow-sm shadow-slate-600 justify-start rounded-lg">
            <div class="flex">
                <img src="../static/img/ogo.jpg" alt="" width="90" class="border border-slate-600 rounded-xl m-2">
                <h1 class="m-2 ml-3 mr-7">Persamaan dan Pertidaksamaan Linear Satu Variabel</h1>
            </div>
            <h1 class="m-2 ml-3 mr-7 font-extralight">Progres </h1>
            <div class="flex">
                <h1 class="ml-3 mr-7 mt-[-10px] font-semibold">10/30 sub-materi</h1>
            </div>
            <div class="flex justify-end mt-[-40px] mr-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-4 rounded">
                    Belajar
                </button>
            </div>
            <div class="flex justify-center mt-4 mb-2">
                <div class="flex w-[340px] h-5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700"
                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs text-white text-center whitespace-nowrap dark:bg-blue-500 transition duration-500"
                        style="width: 50%">50%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- End sub materi display -->
    <footer class="mt-20 flex justify-center">
        <h1>ini footer</h1>
    </footer>
</div>
<!-- End Content -->
{% endblock %}

{% block style_script %}
<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
<script>
    // Mendapatkan referensi ke elemen tombol dropdown
    var dropdownButton = document.querySelector('[data-dropdown-toggle]');
    var selectedValue = document.getElementById("selectedValue");

    // Fungsi untuk menangani pemilihan menu
    function handleMenuSelection(menuText) {
        // Menetapkan teks tombol dropdown ke teks menu yang dipilih
        selectedValue.innerText = menuText;

        // Menutup dropdown setelah memilih
        toggleDropdown();
    }
</script>

{% endblock %}