<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/topics/style.css">
</head>

<body>
    <div class="min-h-screen text-sm">

        <!-- Container -->
        <div class="flex flex-row w-full">
            <div class="flex flex-1 flex-col items-center justify-center px-5 relative">
                <div class="flex justify-between items-center w-full py-4">
                    <div id="backButton" class="flex items-center justify-start space-x-3  cursor-pointer">
                        <img src="../../static/img/back arrow.jpg" alt="image arrow back">
                    </div>
                </div>
                <div class="text-center w-[390px]">
                    <div class="flex justify-center items-center w-full pt-1">
                        <h1 class="text-2xl font-semibold">{{ data_topics.topics_name }}</h1>
                    </div>
                </div>

                <!-- Subbab Materi -->
                {% for explanation in data_explanation %}
                <div class="w-[400px] shadow-md rounded-md mt-7">
                    {% if explanation.text != None %}
                    <p class="p-3">{{ explanation.text }}</p>
                    {% elif explanation.image != None %}
                    <img src="{{ explanation.image }}" alt="">
                    {% elif explanation.video != None %}
                    <video src="{{ explanation.video }}"></video>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const backButton = document.getElementById('backButton');

            backButton.addEventListener('click', function () {
                history.back();
            });
        });
    </script>
</body>

</html>